<div class="container">
    <div class="row">
        <div class=" text-center">
            <img width="10%" height="10%" src="../../../assets/images/logo.png" />
            <h1>Oops!</h1>
            <h2>404 Halaman tidak ditemukan</h2>
            <div class="error-details">
                Halaman yang anda cari tidak tersedia
            </div>
            <div class="error-actions">
                <a href="/" class="btn btn-primary">
                    <i class="icon-home icon-white"></i> Kembali ke halaman awal </a>
            </div>
        </div>
    </div>
</div>