<form accept-charset="UTF-8" role="form" (submit)="findPraktikan()" *ngIf="findSection">
    <fieldset>

        <div class="form-group">
            <input [(ngModel)]="kelas" class="form-control" placeholder="Kelas" name="kelas" type="text">
        </div>
        <div class="form-group">
            <input [(ngModel)]="npm" class="form-control" placeholder="NPM" name="npm" type="text">
        </div>
        <input class="btn btn-lg btn-success btn-block" type="submit" value="Cari">
    </fieldset>
    <br>
    <div class="text-center">
        <a [routerLink]="['/']">Masuk</a> atau <a [routerLink]="['/resendActivation']">Kirim ulang kode aktivasi</a>
    </div>
</form>



<form accept-charset="UTF-8" role="form" (submit)="completeData()" *ngIf="completeSection">
    <div class="text-center">
        <br/>
        <h2>Silahkan Lengkapi Data Anda</h2>
        <br/>
    </div>
    <fieldset>
        <!--<input [(ngModel)]="dataPraktikan.praktikan._id" class="form-control" name="_praktikanId" type="text" disabled>-->
        <div class="form-group">
            <input [(ngModel)]="dataPraktikan.praktikan.nama.depan" class="form-control" name="nama_depan" type="text" disabled>
        </div>
        <div class="form-group">
            <input [(ngModel)]="dataPraktikan.praktikan.nama.belakang" class="form-control" name="nama_belakang" type="text" disabled>
        </div>
        <div class="form-group">
            <input [(ngModel)]="dataPraktikan.praktikan.kelas" class="form-control" name="kelas" type="text" disabled>
        </div>
        <div class="form-group">
            <input [(ngModel)]="dataPraktikan.praktikan.npm" class="form-control" name="npm" type="text" disabled>
        </div>
        <div *ngIf="usernameExist" class="text-danger">Nama Pengguna Sudah Digunakan</div>
        <div *ngIf="username?.length < 6 && username != null" class="text-danger">Nama Pengguna Minimal 6 Karakter</div>
        <div [ngClass]="{ 'has-error': usernameExist || (username?.length < 6 && username != null) }" class="form-group has-feedback">
            <input (keyup)="isUsernameExist($event)" [(ngModel)]="username" class="form-control" placeholder="Nama Pengguna" name="username" type="text">
            <span class="glyphicon  form-control-feedback" [ngClass]="{ 'glyphicon-remove': usernameExist || (username?.length < 6 && username != null) }"></span>
        </div>
        <div *ngIf="emailExist" class="text-danger">Email sudah digunakan</div>
        <div [ngClass]="{ 'has-error': emailExist }" class="form-group has-feedback">
            <input (keyup)="isEmailExist($event)" [(ngModel)]="email" class="form-control" name="email" placeholder="Email" type="text">
            <span class="glyphicon  form-control-feedback" [ngClass]="{ 'glyphicon-remove': emailExist }"></span>
        </div>
        <div *ngIf="password?.length < 6 && password != null" class="text-danger">Kata Sandi Minimal 6 Karakter</div>
        <div [ngClass]="{ 'has-error' : password?.length < 6 && password != null }" class="form-group has-feedback">
            <input [(ngModel)]="password" class="form-control" name="password" placeholder="Kata Sandi" type="password">
            <span class="glyphicon  form-control-feedback" [ngClass]="{ 'glyphicon-remove': password?.length < 6 && password != null }"></span>
        </div>
        <div *ngIf="password != rePassword && rePassword !=null" class="text-danger">Kata Sandi Tidak Cocok</div>
        <div [ngClass]="{ 'has-error' : password != rePassword && rePassword !=null}" class="form-group has-feedback">
            <input [(ngModel)]="rePassword" class="form-control" name="rePassword" placeholder="Ulangi Kata Sandi" type="password">
            <span class="glyphicon  form-control-feedback" [ngClass]="{ 'glyphicon-remove': password != rePassword && rePassword !=null }"></span>
        </div>
        <input class="btn btn-lg btn-success btn-block" type="submit" value="Aktivasi">
    </fieldset>
    <br>
    <div class="text-center">
        <a [routerLink]="['/']">Masuk</a>
    </div>
</form>