<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Praktikum <small>Detail Praktikum</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-book"></i> Detail Praktikum
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!--Content-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> Detail Praktikum</h3>
                    </div>
                    <div class="panel-body">
                        <h3 class="text-center">{{praktikum.nama_praktikum}} - {{praktikum.kelas}}</h3>
                        <br/>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Cari Berdasar Nama :</label>
                                <input [(ngModel)]="searchByName" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <label>Cari Berdasar Npm :</label>
                                <input [(ngModel)]="searchByNpm" class="form-control" />
                            </div>
                            <div class="col-md-offset-2 col-md-4">
                                <label>Pilih Pertemuan :</label>
                                <select [(ngModel)]="detailPertemuan" name="detailPertemuan" (change)="onChangePertemuan()" class="form-control">
                                  <option *ngFor="let detail of details" [ngValue]="detail._id">Pertemuan {{detail.pertemuan}}</option>
                            </select>
                            </div>
                        </div>
                        <br/>
                        <!-- regular tabs -->
                        <ng-container *ngIf="flag; then thenBlock; else elseBlock"></ng-container>
                        <ng-template #thenBlock>
                            <tabset>
                                <tab title="Daftar Praktikan">
                                    <div class="table-responsive ">
                                        <table class="table table-striped table-bordered " cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Nama</th>
                                                    <th class="text-center">NPM</th>
                                                    <th class="text-center">Pertemuan ke</th>
                                                    <th class="text-center">Aksi</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let praktikan of praktikans | amSearchByName:searchByName | amSearchByNpm:searchByNpm">
                                                    <td>{{praktikan.nama.depan}} {{praktikan.nama.belakang}}</td>
                                                    <td class="text-center">{{praktikan.npm}}</td>
                                                    <td class="text-center">{{dataPraktikum.pertemuan}}</td>
                                                    <td class="text-center">
                                                        <a class="btn btn-danger" id="{{praktikan._id}}" (click)=makeReport($event.target.attributes.id.value)>Buat Form Laporan</a>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </tab>
                                <tab title="Daftar Praktikan Pengulangan">
                                    <div class="table-responsive ">
                                        <table class="table table-striped table-bordered " cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Nama</th>
                                                    <th class="text-center">NPM</th>
                                                    <th class="text-center">Kelas</th>
                                                    <th class="text-center">Aksi</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let tambahan of tambahans | amSearchByNamePengulangan:searchByName | amSearchByNpmPengulangan:searchByNpm">
                                                    <td>{{tambahan._praktikanId.nama.depan}} {{tambahan._praktikanId.nama.belakang}}</td>
                                                    <td class="text-center">{{tambahan._praktikanId.npm}}</td>
                                                    <td class="text-center">{{tambahan._praktikanId.kelas}}</td>
                                                    <td class="text-center">
                                                        <a [ngClass]="{'disabled': tambahan.proses.pengulangan}" class="btn btn-primary" id="{{tambahan._id}}" (click)=updateReport($event.target.attributes.id.value)>Masuk</a>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </tab>
                            </tabset>

                        </ng-template>
                        <ng-template #elseBlock>
                            <h3 class="text-center">Silahkan pilih pertemuan</h3>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->