<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Penanggung Jawab <small>Detail Praktikum</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-book"></i> Detail Praktikum
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!--Content-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> Detail Praktikum</h3>
                    </div>
                    <div class="panel-body">
                        <h3 class="text-center">{{praktikum.nama_praktikum}} - {{praktikum.kelas}}</h3>
                        <br/>
                        <div class="row">

                            <div class="col-md-offset-8 col-md-4">
                                <label>Pilih Pertemuan :</label>
                                <select [(ngModel)]="detailPertemuan" name="detailPertemuan" (change)="onChangePertemuan()" class="form-control">
                                  <option *ngFor="let detail of details" [ngValue]="detail._id">Pertemuan {{detail.pertemuan}}</option>
                            </select>
                            </div>
                        </div>
                        <br/>
                        <!-- regular tabs -->
                        <ng-container *ngIf="flag; then thenBlock; else elseBlock"></ng-container>
                        <ng-template #thenBlock>
                            <tabset>
                                <tab title="Daftar Praktikan">
                                    <div class="table-responsive ">
                                        <table class="table table-striped table-bordered " cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Nama</th>
                                                    <th class="text-center">NPM</th>
                                                    <th class="text-center">Keterangan</th>
                                                    <th class="text-center">Aksi</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!--<tr *ngFor="let praktikum of praktikums">-->
                                                <tr>
                                                    <td>Muhammad Andika Nugraha</td>
                                                    <td class="text-center">57414084</td>
                                                    <td class="text-center">Masuk</td>
                                                    <td class="text-center">
                                                        <a class="btn btn-danger" id="id" (click)=showDetail($event.target.attributes.id.value)>Tidak Masuk</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Tukang Bolos</td>
                                                    <td class="text-center">57414084</td>
                                                    <td class="text-center">Tidak Masuk (Belum Pengulangan)</td>
                                                    <td class="text-center">
                                                        <button class="btn btn-default" id="id" style="cursor: not-allowed;">Tidak Masuk</button>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </tab>
                                <tab title="Daftar Praktikan Pengulangan">
                                    <div class="table-responsive ">
                                        <table class="table table-striped table-bordered " cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Nama</th>
                                                    <th class="text-center">NPM</th>
                                                    <th class="text-center">Kelas</th>
                                                    <th class="text-center">Aksi</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!--<tr *ngFor="let praktikum of praktikums">-->
                                                <tr>
                                                    <td>Muhammad Andika Nugraha</td>
                                                    <td class="text-center">57414084</td>
                                                    <td class="text-center">3IA17k</td>
                                                    <td class="text-center">
                                                        <a class="btn btn-primary" id="id" (click)=showDetail($event.target.attributes.id.value)>Masuk</a>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </tab>
                            </tabset>

                        </ng-template>
                        <ng-template #elseBlock>
                            <h3 class="text-center">Silahka pilih pertemuan</h3>
                        </ng-template>




                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->