<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Manajemen Pengguna <small>Petugas</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-user"></i> Manajemen Pengguna - Petugas
                    </li>
                </ol>
            </div>
        </div>
        <!--<flash-messages></flash-messages>-->
        <!-- /.row -->

        <!--Content-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> Daftar Petugas</h3>
                    </div>
                    <div class="panel-body">

                        <div class="form-group text-right">
                            <button class="btn btn-success" (click)=showConfirm()>Tambah Petugas</button>
                        </div>

                        <div class="table-responsive ">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered " cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th class="text-center">Nama</th>
                                        <th class="text-center">Username</th>
                                        <th class="text-center">Email</th>
                                        <th class="text-center">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let petugas of data">
                                        <td>{{petugas._petugasId.nama.depan}} {{petugas._petugasId.nama.belakang}}</td>
                                        <td>{{petugas.username}}</td>
                                        <td>{{petugas.email}}</td>
                                        <td class="text-center">
                                            <a class="btn btn-danger" id="{{petugas._id}}" (click)=removePetugas($event.target.attributes.id.value)>Hapus</a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->