<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default ">
                <div class="costum-panel-heading text-center">
                    <h3 class="panel-title">Sistem Pelayanan Online</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <img class="labti-logo img-responsive" width="20%" height="auto" src="assets/images/logo.png" alt="">
                    </div>
                    <flash-messages></flash-messages>
                    <router-outlet></router-outlet>
                    <hr/>
                    <div class="row ">
                        <div class="col-lg-12 text-center">
                            <a [routerLink]="['/about']">Tentang Aplikasi</a>
                            <p>Copyright &copy; Pelayan Online LABTI {{year}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>