<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Praktikum <small>Daftar Praktikum</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-book"></i> Daftar Praktikum
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!--Content-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> Daftar Praktikum</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive ">
                            <table class="table table-striped table-bordered " datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                <thead>
                                    <tr>
                                        <th class="text-center">Nama Praktikum</th>
                                        <th class="text-center">Kelas</th>
                                        <th class="text-center">Jumlah Pertemuan</th>
                                        <th class="text-center">Detail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let praktikum of praktikums">
                                        <td>{{praktikum.nama_praktikum}}</td>
                                        <td class="text-center">{{praktikum.kelas}}</td>
                                        <td class="text-center">{{praktikum._detailId.length}}</td>
                                        <td class="text-center">
                                            <a class="btn btn-primary" routerLink="/dashboard/pj/praktikum/{{praktikum._id}}">Detail</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->