<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Admin Dashboard <small>User Management</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-user"></i> User Management
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!--Content-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> Daftar Praktikan</h3>
                    </div>

                    <div class="panel-body">
                        <div class="form-group text-right">
                            <button class="btn btn-success" (click)=addPraktikan()>Tambah Praktikan</button>
                        </div>
                        <div class="table-responsive ">
                            <table class="table table-striped table-bordered " datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                <thead>
                                    <tr>
                                        <th class="text-center">Nama</th>
                                        <th class="text-center">Kelas</th>
                                        <th class="text-center">Npm</th>
                                        <th class="text-center">Praktikum</th>
                                        <th class="text-center">Aktivasi</th>
                                        <th class="text-center">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let praktikan of data">
                                        <td>{{praktikan.nama.depan}} {{praktikan.nama.belakang}}</td>
                                        <td>{{praktikan.kelas}}</td>
                                        <td>{{praktikan.npm}}</td>
                                        <td>
                                            <ol>
                                                <li *ngFor="let praktikum of praktikan._praktikumId">
                                                    {{praktikum.nama_praktikum}}
                                                </li>
                                            </ol>
                                        </td>
                                        <td>
                                            <div *ngIf="praktikan.aktif; then sudah; else belum"></div>
                                            <ng-template #sudah>
                                                Sudah
                                            </ng-template>
                                            <ng-template #belum>
                                                Belum
                                            </ng-template>
                                        </td>
                                        <td class="text-center">

                                            <!--<div *ngIf="praktikan.aktif; then primaryBlock; else secondaryBlock"></div>
                                            <ng-template #primaryBlock>
                                                <a class="btn btn-primary" id={{praktikan._id}} (click)=resetPassword($event.target.attributes.id.value)>Reset Password</a>
                                            </ng-template>
                                            <ng-template #secondaryBlock>
                                                <a class="btn btn-primary disabled" id={{praktikan._id}} (click)=resetPassword($event.target.attributes.id.value)>Reset Password</a>
                                            </ng-template>-->
                                            <!--<a class="btn btn-primary" [ngClass]="{ 'disabled' : !praktikan.aktif }" id={{praktikan._id}} (click)=resetPassword($event.target.attributes.id.value)>Reset Password</a>-->
                                            <a class="btn btn-primary" [ngClass]="{ 'disabled' : !praktikan.aktif }" id="{{praktikan._id}}" (click)=detailPraktikan($event.target.attributes.id.value)>Detail</a>
                                            <a class="btn btn-danger" id="{{praktikan._id}}" (click)=removePraktikan($event.target.attributes.id.value)>Hapus</a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->