.navbar-header {
    height: 52px;
}

body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 50px 0;
}

a.linkedin:hover {
    background-color: #0077B5;
}

a.instagram:hover {
    background-color: #3f729b;
}

a.github:hover {
    background-color: #323131;
}

a.mail:hover {
    background-color: #C0392B;
}