<form (submit)="sendKey()" *ngIf="step1">
    <fieldset>
        <div class="form-group">
            <input [(ngModel)]="email" class="form-control" placeholder="E-Mail" name="email" type="text">
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Reset">
    </fieldset>
    <br>
    <div class="text-center">
        <a [routerLink]="['/']">Masuk</a>
    </div>
</form>

<form (submit)="keyCheck()" *ngIf="step2">
    <fieldset>
        <div class="form-group">
            <input [(ngModel)]="resetKey" class="form-control" placeholder="Masukan 6 digit angka pada pesan masuk" name="resetKey" type="text">
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Konfirmasi">
    </fieldset>
    <br>
    <div class="text-center">
        <a [routerLink]="['/']">Masuk</a>
    </div>
</form>

<form (submit)="reset()" *ngIf="step3">
    <fieldset>
        <div *ngIf="password?.length < 6 && password != undefined" class="text-danger">Panjang Kata Sandi Minimal 6 Karakter</div>
        <div [ngClass]="{ 'has-error' : password?.length < 6 && password != undefined }" class="form-group has-feedback">
            <input [(ngModel)]="password" class="form-control" placeholder="Kata Sandi Baru" name="password" type="password">
            <span class="glyphicon  form-control-feedback" [ngClass]="{ 'glyphicon-remove':  password?.length < 6 && password != undefined }"></span>
        </div>
        <div *ngIf="password != repassword && repassword != undefined" class="text-danger">Kata Sandi Tidak Cocok</div>
        <div [ngClass]="{ 'has-error' : password != repassword && repassword != undefined }" class="form-group has-feedback">
            <input [(ngModel)]="repassword" class="form-control" placeholder="Ulangi Kata Sandi" name="repassword" type="password">
            <span class="glyphicon  form-control-feedback" [ngClass]="{ 'glyphicon-remove':  password != repassword && repassword != undefined }"></span>
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Reset">
    </fieldset>
    <br>
    <div class="text-center">
        <a [routerLink]="['/']">Masuk</a>
    </div>
</form>