<div class="modal-dialog">
    <div class="modal-content">
        <form (submit)="addPraktikan()">
            <div class="modal-header">
                <button type="button" class="close" (click)="close()">&times;</button>
                <h4 class="modal-title">Tambah Praktikan</h4>
            </div>
            <div class="modal-body">
                <flash-messages></flash-messages>
                <div class="row form-group">
                    <div class="col-md-6">
                        <input [(ngModel)]="depan" class="form-control" placeholder="Nama Depan" name="depan" type="text">
                    </div>
                    <div class="col-md-6">
                        <input [(ngModel)]="belakang" class="form-control" placeholder="Nama Belakang" name="belakang" type="text">
                    </div>

                </div>
                <div *ngIf="kelas?.length != 5 && kelas != undefined" class="text-danger">Panjang Kelas Harus 5. Contoh : 3IA01</div>
                <div [ngClass]="{ 'has-error' : kelas?.length != 5 && kelas != undefined }" class="form-group has-feedback">
                    <input [(ngModel)]="kelas" class="form-control" placeholder="Kelas" name="kelas" type="text">
                    <span class="glyphicon  form-control-feedback" [ngClass]="{ 'glyphicon-remove':  kelas?.length != 5 && kelas != undefined }"></span>
                </div>
                <div *ngIf="npm?.length != 8 && npm != undefined" class="text-danger">Panjang NPM harus 8. Contoh : 57414084</div>
                <div *ngIf="npmExist" class="text-danger">NPM : {{npm}} Sudah Terdaftar</div>
                <div [ngClass]="{ 'has-error' : (npm?.length != 8 && npm != undefined) || npmExist }" class="form-group has-feedback">
                    <input (keyup)="isNpmExist($event)" [(ngModel)]="npm" class="form-control" placeholder="NPM" name="npm" type="text">
                    <span class="glyphicon  form-control-feedback" [ngClass]="{ 'glyphicon-remove': (npm?.length != 8 && npm != undefined) || npmExist }"></span>
                </div>


            </div>
            <div class="modal-footer">
                <input class="btn btn-primary" type="submit" value="Tambah">
                <button type="button" class="btn btn-default" (click)="close()">Batal</button>
            </div>
        </form>
    </div>
</div>