<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a [routerLink]="['/']" class="navbar-brand">Pelayanan Online LABTI</a>
        </div>
        <!-- Top Menu Items -->
        <ng-container *ngIf="loggedIn; then thenBlock; else elseBlock"></ng-container>
        <ng-template #thenBlock>
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">

                    <a style="color: #ffffff" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user.username}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!--<li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li class="divider"></li>-->
                        <li>
                            <a href="" (click)="logout()"><i class="fa fa-fw fa-power-off"></i> Keluar</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </ng-template>
        <ng-template #elseBlock>
            <ul class="nav navbar-right top-nav">

                <li>
                    <a style="color: #ffffff" href="#"><i class="fa fa-sign-in"></i> Masuk</a>
                </li>
            </ul>
        </ng-template>


        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <!--admin-->
            <ul *ngIf="roleAdmin" class="nav navbar-nav side-nav">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/dashboard/admin']"><i class="fa fa-fw fa-dashboard"></i> Dasbor</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#mgm"><i class="fa fa-fw fa-users"></i> Pengguna<i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="mgm" class="collapse">
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                            <a [routerLink]="['/dashboard/admin/praktikan']"><i class="fa fa-graduation-cap"></i> Praktikan</a>
                        </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                            <a [routerLink]="['/dashboard/admin/pj']"><i class="fa fa-user "></i> Penanggung Jawab</a>
                        </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                            <a [routerLink]="['/dashboard/admin/petugas']"><i class="fa fa-shield "></i> Petugas</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#mgmp"><i class="fa fa-fw fa-book"></i> Praktikum<i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="mgmp" class="collapse">
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                            <a [routerLink]="['/dashboard/admin/praktikum/tingkat1']"><i class="fa fa-user"></i> Tingkat 1</a>
                        </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                            <a [routerLink]="['/dashboard/admin/praktikum/tingkat2']"><i class="fa fa-user "></i> Tingkat 2</a>
                        </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                            <a [routerLink]="['/dashboard/admin/praktikum/tingkat3']"><i class="fa fa-user "></i> Tingkat 3</a>
                        </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                            <a [routerLink]="['/dashboard/admin/praktikum/tingkat4']"><i class="fa fa-user "></i> Tingkat 4</a>
                        </li>
                    </ul>
                </li>
                <!--account global-->
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/dashboard/account']"><i class="fa fa-fw fa-cog"></i> Akun</a>
                </li>
            </ul>

            <!--Praktikan-->
            <ul *ngIf="rolePraktikan" class="nav navbar-nav side-nav">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/dashboard']"><i class="fa fa-fw fa-dashboard"></i> Dasbor</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#laporan"><i class="fa fa-fw fa-newspaper-o"></i> Laporan<i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="laporan" class="collapse">
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                            <a [routerLink]="['/dashboard/laporan']"><i class="fa fa-file-o"></i> Buat Laporan</a>
                        </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                            <a [routerLink]="['/dashboard/laporan/proses']"><i class="fa fa-exchange "></i> Laporan di Proses</a>
                        </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                            <a [routerLink]="['/dashboard/laporan/selesai']"><i class="fa fa-check "></i> Laporan Selesai</a>
                        </li>
                    </ul>
                </li>
                <!--account global-->
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/dashboard/account']"><i class="fa fa-fw fa-cog"></i> Akun</a>
                </li>

            </ul>

            <!--Penanggung Jawab-->
            <ul *ngIf="rolePj" class="nav navbar-nav side-nav">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/dashboard/pj']"><i class="fa fa-fw fa-dashboard"></i> Dasbor</a>
                </li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/dashboard/pj/praktikum']"><i class="fa fa-fw fa-book"></i> Praktikum</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#laporanPj"><i class="fa fa-fw fa-newspaper-o"></i> Laporan<i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="laporanPj" class="collapse">
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                            <a [routerLink]="['/dashboard/pj/laporan/dibuat']"><i class="fa fa-file-o"></i> Laporan Dibuat</a>
                        </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                            <a [routerLink]="['/dashboard/pj/laporan/proses']"><i class="fa fa-exchange "></i> Laporan di Proses</a>
                        </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                            <a [routerLink]="['/dashboard/pj/laporan/selesai']"><i class="fa fa-check "></i> Laporan Selesai</a>
                        </li>
                    </ul>
                </li>
                <!--account global-->
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/dashboard/account']"><i class="fa fa-fw fa-cog"></i> Akun</a>
                </li>
            </ul>

            <!--Petugas-->
            <ul *ngIf="rolePetugas" class="nav navbar-nav side-nav">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/dashboard/petugas']"><i class="fa fa-fw fa-dashboard"></i> Dasbor</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#laporanPet"><i class="fa fa-fw fa-newspaper-o"></i> Laporan<i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="laporanPet" class="collapse">
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                            <a [routerLink]="['/dashboard/petugas/laporan/proses']"><i class="fa fa-exchange "></i> Laporan di Proses</a>
                        </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                            <a [routerLink]="['/dashboard/petugas/laporan/selesai']"><i class="fa fa-check "></i> Laporan Selesai</a>
                        </li>
                    </ul>
                </li>
                <!--account global-->
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/dashboard/account']"><i class="fa fa-fw fa-cog"></i> Akun</a>
                </li>
            </ul>


        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <toaster-container></toaster-container>
    <router-outlet></router-outlet>
</div>
<!-- /#wrapper -->